venv/
__pycache__/
.ipynb_checkpoints/
node_modules/
.env
*.pkl
*.h5
.DS_Store
!CodeAlpha_HandwrittenCharacterRecognition/backend/app/models/label_encoder.pkl
!CodeAlpha_HandwrittenCharacterRecognition/backend/app/models/optimized_model.pkl
!CodeAlpha_HandwrittenCharacterRecognition/backend/app/models/pca_transformer.pkl